<% include ../partials/header %>

<div class="container">
   <div class="row text-center">
       <span class="fas fa-tree anim"></span><br>
       <h3 class="frm-head">edit camp: <%= camp.name%></h3>
        <form class="form-width" action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="campground[name]" value="<%=camp.name%>" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="campground[price]" placeholder="price per night (0.00)" value="<%=camp.price%>" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[image]" value="<%=camp.image%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[description]" value="<%=camp.description%>">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">submit</button>
            </div>
             <a href="/campgrounds/<%=camp._id%>">Go Back</a>
        </form>
    </div>
</div>
<% include ../partials/footer %>